.img{
    width: 310px;
    height: 235px;
    margin: 30px 21px;
}
@media(max-width: 768px)
{
    .img{
        width: 80%;
    }
}
@media(max-width: 768px)
{
    body{
        background: pink;
    }
}